In [1]:
#import the pandas library
import pandas as pd

In [2]:
#read the dataset
outlet_size_small = pd.read_csv('Concatenation data/outlet_size_small.csv')
outlet_size_medium = pd.read_csv('Concatenation data/outlet_size_medium.csv')
outlet_size_large = pd.read_csv('Concatenation data/outlet_size_high.csv')

In [3]:
#check the shape of each of the dataframe
outlet_size_small.shape, outlet_size_medium.shape, outlet_size_large.shape

((2388, 9), (2793, 9), (932, 9))

In [4]:
outlet_size_small.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Type,Item_Outlet_Sales
0,FDA03,18.50,Regular,0.045464,Dairy,144.1102,OUT046,Supermarket Type1,2187.1530
1,FDS46,17.60,Regular,0.047257,Snack Foods,119.6782,OUT046,Supermarket Type1,2145.2076
2,FDP49,9.00,Regular,0.069089,Breakfast,56.3614,OUT046,Supermarket Type1,1547.3192
3,FDU02,13.35,Low Fat,0.102492,Dairy,230.5352,OUT035,Supermarket Type1,2748.4224
4,NCB30,14.60,Low Fat,0.025698,Household,196.5084,OUT035,Supermarket Type1,1587.2672

In [5]:
outlet_size_medium.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,Supermarket Type1,2097.2700
3,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,Supermarket Type2,556.6088
4,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,Supermarket Type3,4022.7636

In [6]:
outlet_size_large.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Type,Item_Outlet_Sales
0,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,Supermarket Type1,994.7052
1,FDO10,13.65,Regular,0.012741,Snack Foods,57.6588,OUT013,Supermarket Type1,343.5528
2,FDF32,16.35,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,Supermarket Type1,1977.4260
3,FDN22,18.85,Regular,0.138190,Snack Foods,250.8724,OUT013,Supermarket Type1,3775.0860
4,DRJ59,11.65,low fat,0.019356,Hard Drinks,39.1164,OUT013,Supermarket Type1,308.9312

**CONCATENATE ALL THE DATAFRAMES**

In [7]:
#create a list of all dataframes
all_df = [outlet_size_small, outlet_size_medium, outlet_size_large]

In [8]:
# concatenate the dataframes using pd.concat function
#use axis = 0 for row-wise concatenation and axis =1 for column_wise concatenation
data = pd.concat(all_df, axis=0)

In [9]:
data.shape

(6113, 9)

In [10]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Type,Item_Outlet_Sales
0,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,Supermarket Type1,2187.1530
1,FDS46,17.600,Regular,0.047257,Snack Foods,119.6782,OUT046,Supermarket Type1,2145.2076
2,FDP49,9.000,Regular,0.069089,Breakfast,56.3614,OUT046,Supermarket Type1,1547.3192
3,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,Supermarket Type1,2748.4224
4,NCB30,14.600,Low Fat,0.025698,Household,196.5084,OUT035,Supermarket Type1,1587.2672
...,...,...,...,...,...,...,...,...,...
927,FDQ31,5.785,Regular,0.053802,Fruits and Vegetables,85.9856,OUT013,Supermarket Type1,1494.0552
928,FDJ32,10.695,Low Fat,0.057744,Fruits and Vegetables,61.2536,OUT013,Supermarket Type1,673.7896
929,DRJ49,6.865,Low Fat,0.000000,Soft Drinks,129.9652,OUT013,Supermarket Type1,2324.9736
930,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,Supermarket Type1,2479.4392
931,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,Supermarket Type1,2778.3834